/*
Paleta de colores
#E1EFF6
#97D2FB
#83BCFF
#255184
*/
/*
Tipo de letra:
font-family: 'Roboto', sans-serif; 
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body,
html {
  height: 100%;

  margin: 0;

  padding: 0;

  width: 100%;

  background-color: #E1EFF6;

}

header {
  text-align: center;
}

h1 {
  font-size: 40px;
  color: #255184;
}

nav {
  height: 5vh;
  text-align: center;
}

.enlace_nav {
  text-align: center;
  padding: 5em;
  font-size: 20px;
}

section {

  display: flex;

  justify-content: center;

  align-items: center;

}



.div {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid #255184;
  background-color: #255184;

}

img {
  margin: auto;
  display: block;

  height: 250px;

  width: 250px;

  object-fit: cover;

}

footer {
  height: 5vh;
  text-align: center;
}

h4 {
  color: #255184;
}


